<div class="media">
  <div class="media-body">
    <h1 class="media-heading">
      <%= markdown_to_html @post.title %>
    </h1>
    <p><%= markdown_to_html @post.body %></p>
    <small>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %><br>
      <%= @post.comments.count %> Comments<br>
    </small>
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

